.main-div{
  display: flex;
  justify-content: space-between;
}

.first {
  background-color: aquamarine;
  width: 40%;
  text-align: center;
}
.second {
  background-color: aqua; 
  width: 15%;
  font-size: medium;
  text-align: center;
}
.third {
  background-color: darkcyan;
  width: 44.3%;
  font-size: medium;
  text-align: center;
}

